---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<!doctype html>
<html>
  <body style="margin:0; font-family: system-ui;">

    <main style="max-width:720px; margin:120px auto; padding:0 20px;">

      <h1>{post.data.title}</h1>

      <p style="opacity:0.6;">
        {post.data.description}
      </p>

      <hr style="margin:30px 0;" />

      <div>
        <div class="content">
  <slot />
</div>
      </div>

    </main>

  </body>
</html>