---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
const posts = await getCollection('blog');
---
<Layout>
      <p style="opacity:0.5; letter-spacing:2px;">FRAGMENTS</p>
      <h1>Blog</h1>
      <div style="margin-top:60px; display:flex; flex-direction:column; gap:24px;">

        {posts.map(post => (
          <a
            href={`/blog/${post.slug}`}
            style="text-decoration:none; color:inherit;"
          >
            <div style="border-left:2px solid #eee; padding:14px 18px;">
              <h3 style="margin:0;">{post.data.title}</h3>
              <p style="opacity:0.6; margin:6px 0 0;">
                {post.data.description}
              </p>
            </div>
          </a>
        ))}
      </div>
</Layout>