---
import "../styles/global.css";
import "../styles/system.css";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---
<Layout>
  <article>
    <h1>{frontmatter.title}</h1>
    <slot />
  </article>
</Layout>